.header {
  background-color: $green;
  box-shadow: 0 2px 3px $grey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  text-decoration: none;
  color: white;
}

.header__logo {
  font-weight: 400;
  font-size: $l-size;
  margin: $m-size 0;
}

.header__logo-bold {
  font-style: italic;
  font-weight: 700;
}

.header__refresh {
  color: white;
  cursor: pointer;
  font-size: $l-size;
}

.header__refresh:hover {
    animation: fa-spin 2s infinite linear;
}

.header__refresh:active {
    color: darken(white, 10%);
}
