.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $l-size;
  grid-template-areas: 
    "ferry-name-class"
    "route-destination"
    "fav-speed-heading"
    "coordinates";
  background-color: white;
  border-radius: $xs-size;
  margin-bottom: $m-size;
  padding: $xl-size $xxl-size;
  h2 {
    font-size: $l-size;
    margin: 0;
  }
}

@media (min-width: $desktop-breakpoint) {
  .card {
    grid-template-columns: 1fr 1fr; 
    grid-row-gap: $xxl-size;
    grid-template-areas: 
      "ferry-name-class route-destination"
      "fav-speed-heading coordinates";
    padding: $xl-size;
  }
}

.card__details {
  grid-template-areas: 
  "ferry-name-class"
  "route-destination"
  "fav-speed-heading"
  "coordinates"
  "card-map"
  "card-stops"
  "ferry-details"
  "class-details"
  "images";
}

@media (min-width: $desktop-breakpoint) {
  .card__details {
    grid-template-areas: 
      "ferry-name-class route-destination"
      "fav-speed-heading coordinates"
      "card-map card-map"
      "card-stops card-stops"
      "ferry-details ferry-details"
      "class-details class-details"
      "images images";
  }
}

.card__class {
  font-weight: 300;
}

.card__route-destination-container {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-column-gap: $s-size;
  grid-template-areas:
    "route destination"
    "route location";
  align-items: center;
}

.card__route {
  grid-area: route;
  align-items: center;
  background-color: $green;
  border-radius: 0.6rem;
  color: white;
  display: flex;
  font-size: $l-size;
  font-weight: 400;
  height: 4rem;
  justify-content: center;
  width: 4rem;
}

.card__route__OS {
  background-color: $grey;
}

.card__destination {
  grid-area: destination;
  font-size: $m-size;
  font-weight: 400;
}

.card__location {
  grid-area: location;
  font-size: $s-size;
  > i {
    margin-right: $xs-size;
  }
}

.card__fav-speed-heading {
  grid-area: fav-speed-heading;
  > * {
    margin-right: $m-size;
  }
}

.card__fav {
  color: $red;
}

.card__coordinates {
  grid-area: coordinates;
  > * {
    margin-right: $m-size;
  }
}

.card__map {
  grid-area: card-map;
}

.card__stops {
  grid-area: card-stops;
}

.card__ferry-details {
  grid-area: ferry-details;
}

.card__class-details {
  grid-area: class-details;
}

.card__images {
  grid-area: images;
}
