.card__stops {
  display: grid;
  font-size: $m-size;
  justify-content: center;
}

.stops__stop {
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: center;
  position: relative;
}

.stops__stop:before {
  display: block;
  content: '';
  width: 1px;
  height: 100%;
  background: black;
  position: absolute;
  transform: translateX(8rem);
}

.card__stops div:first-child:before {
  height: 50%;
  transform: translate(8rem, 1.5rem);
}

.card__stops div:last-child:before {
  height: 50%;
  transform: translate(8rem, -1.5rem);
}

.single:before {
  display: none;
}

.stops__stop:after {
  display: block;
  content: '';
  width: 9px;
  height: 9px;
  border:1px solid black;
  border-radius: 10px;
  background: white;
  position: absolute;
  transform: translateX(calc(8rem - 9px/2));
}

.card__stops div:last-child:after {
  background: black;
}

.stops__eta {
  text-align: right;
  margin-right: 4rem;
}
