:root {
  --primary-color: #00AB51;
  /*Font sizes*/
  --thin: 200;
  --reg: 400;
  --bold: 700;
  --x-bold: 800;
}

body {
  background-color: #EEE;
  font-family: frank-new, sans-serif;
  font-weight: var(--reg);
}