* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: frank-new, Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: $light-grey;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.page-top {
  display: flex;
  justify-content: space-between;
  padding: $m-size 0;
  h1 {
    margin: 0;
  }
  i {
  	margin-right: $m-size;
  }
}