// Colors
$green: #00AB51;
$grey: #ccc;
// Font Size
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 3.2rem;
$xxl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$content-max-width: 80rem;